<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDe_pnAQLTQoDHMQUe7Pne6gbmF1wZg9B0</string>
	<key>GCM_SENDER_ID</key>
	<string>198037329901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tubuluapp.bot</string>
	<key>PROJECT_ID</key>
	<string>tubulu</string>
	<key>STORAGE_BUCKET</key>
	<string>tubulu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198037329901:ios:ccbfa127690d3ed9acb9e4</string>
</dict>
</plist>